* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
}
.calculator {
  border: 1px solid black;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: lightgray;
}

.main-buttons,
.middle-buttons,
.display {
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  width: 100%;
  flex: 1;
  margin-top: 10px;
  margin-bottom: 5px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.display p {
  border: 1px solid black;
}

.display #top-display {
  flex: 1;
  text-align: right;
}
.display #bot-display {
  flex: 2;
  text-align: center;
  text-align: right;

  width: 100%;
  font-size: 32px;
  padding-top: 5px;
}

.main-buttons {
  height: 400px;

  margin: 5px 10px;
  margin-left: 10px;
  flex: 3;
}
.middle-buttons {
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.middle-buttons button {
  flex: 1;
}

.main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-buttons button {
  width: 103px;
  height: 82px;
  margin: 6px;
  font-size: large;
  font-weight: 600;
}
